---
import { Image } from 'astro:assets';
import dryad from '../assets/dryad.png';
import owid from '../assets/owid-light.png';
import dataworld from '../assets/data-world-logo.png';
import bcodmo from '../assets/bcodmo.png';
import pudl from '../assets/pudl.png';
import elife from '../assets/elife-logo.png';
import oxford from '../assets/oxford-drg.png';
import ukds from '../assets/ukds-logo.png';
import odb from '../assets/odb.png';
import cmoa from '../assets/cmoa-logo.png';
import librariesHacked from '../assets/libraries-hacked-logo.png';
import chicago from '../assets/chicago.png';
import validata from '../assets/validata.png';
---

<ul>
    <li><Image src={dryad} alt="Dryad"></li>
    <li><Image src={owid} alt="Our World in Data"></li>
    <li><Image src={dataworld} alt="Data World"></li>
</ul>
<ul style="margin-top: 0">
    <li><Image src={bcodmo} alt="BCO-DMO"></li>
    <li><Image src={pudl} alt="PUDL"></li>
    <li><Image src={elife} alt="Elife"></li>
    <li><Image src={oxford} alt="Oxford"></li>
    <li><Image src={ukds} alt="UKDS"></li>
</ul>
<ul style="margin-top: 0">
    <li><Image src={odb} alt="Open Data Blend"></li>
    <li><Image src={cmoa} alt="CMOA"></li>
    <li><Image src={librariesHacked} alt="Libraries Hacked"></li>
    <li><Image src={chicago} alt="The University of Chicago"></li>
    <li><Image src={validata} alt="Validata"></li>
</ul>

<style>
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: space-between;
    }

    ul li {
        flex-basis: calc(20% - 16px); /* Adjust the width as needed */
        flex-grow: 1; /* Expand image to fill remaining vertical space */
        height: 100%
    }

    ul li img {
        max-width: 100%;
        height: auto;
        display: block;
        border: dashed 1px #ccc;
        border-radius: 15px;
        padding: 5px;
    }

    @media screen and (max-width: 768px) {
        ul li {
            flex-basis: calc(50% - 16px); /* Adjust for two columns on smaller screens */
        }
    }
</style>
