---
import { Image } from "astro:assets"
import { adoption } from "../assets"
---

<ul>
  <li>
    <a
      href="https://frictionlessdata.io/blog/2021/06/28/frictionless-specs-european-commission/"
      target="_blank"><Image src={adoption.eucom} alt="European Commission" /></a>
  </li>
  <li>
    <a href="https://github.com/github/innovationgraph" target="_blank"
      ><Image src={adoption.github} alt="Github" /></a>
  </li>
  <li>
    <a
      href="https://blog.okfn.org/2020/11/18/dryad-and-frictionless-data-collaboration/"
      target="_blank"><Image src={adoption.dryad} alt="Dryad" /></a>
  </li>
  <li>
    <a href="https://github.com/owid/owid-datasets" target="_blank"
      ><Image src={adoption.owid} alt="Our World in Data" /></a>
  </li>
</ul>
<ul>
  <li>
    <a
      href="https://frictionlessdata.io/blog/2020/02/10/frictionless-data-pipelines-for-open-ocean/"
      target="_blank"><Image src={adoption.bcodmo} alt="BCO-DMO" /></a>
  </li>
  <li>
    <a
      href="https://frictionlessdata.io/blog/2020/03/18/frictionless-data-pilot-study/"
      target="_blank"><Image src={adoption.pudl} alt="PUDL" /></a>
  </li>
  <li>
    <a href="https://frictionlessdata.io/blog/2017/10/24/elife/" target="_blank"
      ><Image src={adoption.elife} alt="Elife" /></a>
  </li>
  <li>
    <a
      href="https://blog.okfn.org/2020/07/21/clarifying-the-semantics-of-data-matrices-and-results-tables-a-frictionless-data-pilot/"
      target="_blank"><Image src={adoption.oxford} alt="Oxford" /></a>
  </li>
  <li>
    <a href="https://frictionlessdata.io/blog/2017/12/12/ukds/" target="_blank"
      ><Image src={adoption.ukds} alt="UKDS" /></a>
  </li>
</ul>
<ul>
  <li>
    <a href="https://frictionlessdata.io/blog/2021/07/12/open-data-blend/" target="_blank"
      ><Image src={adoption.odb} alt="Open Data Blend" /></a>
  </li>
  <li>
    <a
      href="https://frictionlessdata.io/blog/2017/08/09/collections-as-data/"
      target="_blank"><Image src={adoption.cmoa} alt="CMOA" /></a>
  </li>
  <li>
    <a href="https://frictionlessdata.io/blog/2017/04/11/dataworld/" target="_blank"
      ><Image src={adoption.dataworld} alt="Data World" /></a>
  </li>
  <li>
    <a
      href="https://frictionlessdata.io/blog/2017/08/15/center-for-data-science-and-public-policy-workforce-data-initiative/"
      target="_blank"><Image src={adoption.chicago} alt="The University of Chicago" /></a>
  </li>
  <li>
    <a
      href="https://frictionlessdata.io/blog/2020/04/23/table-schema-catalog/"
      target="_blank"><Image src={adoption.validata} alt="Validata" /></a>
  </li>
</ul>

<style>
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
  }

  ul li {
    flex-basis: calc(20% - 16px); /* Adjust the width as needed */
    flex-grow: 1; /* Expand image to fill remaining vertical space */
    height: 100%;
  }

  ul li img {
    max-width: 100%;
    height: auto;
    display: block;
    border: dashed 1px #ccc;
    border-radius: 15px;
    padding: 5px;
  }

  @media screen and (max-width: 768px) {
    ul li {
      flex-basis: calc(50% - 16px); /* Adjust for two columns on smaller screens */
    }
  }
</style>
